@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500');

@font-face {
  font-family: "DomaineSansText-Regular";
  src: url('../fonts/DomaineSansText-Regular.otf') format("opentype");
}

.kenshotc {
  width               : 100%;
  min-width           : 1280px;
  height              : 100vh;
  min-height          : 13781px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.kenshotc .footer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13264px;
  height              : 517px;
  width               : 1280px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kenshotc .footer .rectangle2 {
  background-color    : rgba(19, 31, 56, 1.0);
  top                 : 0px;
  height              : 517px;
  width               : 1280px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kenshotc .footer .a251kenshu014d2018priv {
  background-color    : rgba(255,255,255,0.0);
  top                 : 445px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 529px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Work Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 0.5);
  text-align          : center;
  letter-spacing      : -0.39px;
  line-height         : 16.0px;
}
.kenshotc .footer .app2x {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : 83px;
  width               : 83px;
  position            : absolute;
  margin              : 0;
  left                : 599px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kenshotc .footer .weu2019relookingforth {
  background-color    : rgba(255,255,255,0.0);
  top                 : 289px;
  height              : auto;
  width               : 334px;
  position            : absolute;
  margin              : 0;
  left                : 473px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Work Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 0.8);
  text-align          : center;
  line-height         : 20.0px;
}
.kenshotc .footer .getstartedbecomea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 172px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 384px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Work Sans", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.kenshotc .footer .line2copy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 243px;
  height              : 2px;
  width               : 1202px;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.15;
}
.kenshotc .footer .jobopenings {
  background-color    : rgba(255,255,255,0.0);
  top                 : 385px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Work Sans", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.kenshotc .termsandconditions {
  background-color    : rgba(255,255,255,0.0);
  top                 : 165px;
  height              : auto;
  width               : 629px;
  position            : absolute;
  margin              : 0;
  left                : 326px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "DomaineSansText-Regular", Helvetica, Arial, serif;
  font-size           : 44.0px;
  color               : rgba(19, 31, 56, 1.0);
  text-align          : center;
  letter-spacing      : -1.69px;
  line-height         : 57.0px;
}
.kenshotc .thesetermsarelega {
  background-color    : rgba(255,255,255,0.0);
  top                 : 267px;
  height              : auto;
  width               : 999px;
  position            : absolute;
  margin              : 0;
  left                : 141px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Work Sans", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(20, 31, 56, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.kenshotc .nav {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 101px;
  width               : 1282px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kenshotc .nav .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 100px;
  width               : 1280px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kenshotc .nav .logokenshodark2x {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 43px;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kenshotc .nav .cta {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 60px;
  width               : 160px;
  position            : absolute;
  margin              : 0;
  left                : 1101px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kenshotc .nav .cta .rectangle5copy {
  background-color    : rgba(255, 115, 71, 1.0);
  top                 : 0px;
  height              : 60px;
  width               : 160px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kenshotc .nav .cta .getstarted {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : 159px;
  position            : absolute;
  margin              : 0;
  left                : -0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Work Sans", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.23px;
  line-height         : 21.0px;
}
.kenshotc .nav .cta2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : 25px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 905px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kenshotc .nav .cta2 .becomeaprovider {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Work Sans", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(255, 115, 71, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.kenshotc .nav .cta2 .line3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 23px;
  height              : 2px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kenshotc .nav .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 99px;
  height              : 2px;
  width               : 1282px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}