article, header, .container {
  max-width: 1280px;
  margin: auto;
  box-sizing: border-box;
}

.orng {
  color: rgba(255, 115, 71, 1.0);
}

/* ============ HOMEPAGE SPECIFIC ============ */

/* HERO SECTION */

.hero {
  background-image: url('../img/herobg.png');
  background-size: cover;
  background-position: center center;
  min-height: 620px;
}

.hero .logokenshodark2x {
  width: 190px;
  height: auto;
  padding: 28px;
}

.hero-intro {
  text-align: center;
  color: white;
  max-width: 608px;
  margin: auto;
  padding: 50px;
}

.hero-intro h1 {
  font-size: 68px;
  font-family: "DomaineSansText-Regular", Optima, Georgia, serif;
  margin: 40px 0 15px;
  letter-spacing: -3.19px;
}

.hero-intro p {
  line-height: 1.6em;
  font-size: 18px;
  margin: 25px 0 40px 0;
}

.cta {
  display: block;
  box-sizing: border-box;
  color: white;
  padding: 20px;
  text-decoration: none;
  width: 167px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  background-color: rgba(255, 115, 71, 1.0);
}

.hero-intro .cta {
  margin: auto;
}

.hero-intro .link-container {
  margin: 20px;
}

.hero-intro .provider-application {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 2px;
  font-weight: 500;
  font-size: 18px;
}

/* TESTIMONIALS */

.testimonials {
  border-bottom: 1px solid #eee;
  padding: 60px 20px 10px;
}

.arrow-button img {
  width: 9px;
  height: 8px;
  opacity: 0.8;
}


.arrow-button,  {
  cursor: pointer;
}

.testimonials .previous {
  transform: rotate(-135deg);
}

.testimonials .next {
  transform: rotate(-315deg);
}

.arrow-button {
  background: none;
  border: none;
  outline: none;
  width: 9px;
  height: 8px;
  opacity: 0.8;
}

.testimonials .carousel {
  display: flex;
  max-width: 820px;
  min-height: 300px;
  margin: auto;
  align-items: center;
}

.testimonials .carousel .testimonial-holder {
  flex: 1;
  padding: 0 50px;
}

.testimonial-holder .testimonial-text {
  text-align: center;
  color: rgba(20, 31, 56, 0.6);
  line-height: 1.5em;
}

.testimonial-holder .testimonial-person {
  display: flex;
  align-items: center;
  max-width: 415px;
  margin: 20px auto;
}

.single-testimonial {
  display: none;
}

@media screen and (max-width: 1000px) {
  .testimonials .carousel {
    min-height: 450px;
  }

  .testimonial-holder .testimonial-person {
    flex-direction: column;
  }
}

.testimonial-person img {
  width: 68px;
}

.testimonial-person .bio {
  margin-left: 20px;
}

.testimonial-person .bio p {
  font-size: 12px;
  line-height: 1.5em;
  font-weight: 500;
}

.carousel-dots {
  margin: auto;
  display: flex;
  justify-content: center;
}

.carousel-dots img {
  height: 6px;
  width: 6px;
  margin: 5px;
  cursor: pointer;
}

/* HOW IT WORKS */

.howitworks {
  padding: 80px 50px;
  text-align: center;
}

.howitworks h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 500;
}

.howitworks .threeup {
  display: flex;
  padding-top: 50px;
}

.threeup .col {
  flex: 1;
  padding: 20px 40px;
}

@media screen and (max-width: 1000px) {
  .threeup {
    flex-direction: column;
  }
}

.howitworks .threeup .col img {
  height: 68px;
  /* margin-bottom: 30px; */
}

.threeup .col h4 {
  font-family: "DomaineSansText-Regular", Optima, Georgia, serif;
  font-size: 1.5em;
  margin: 30px 0 20px;
  letter-spacing: -1px;
}

.threeup .col p {
  color: rgba(20, 31, 56, 0.6);
  line-height: 1.5em;
}

/* PRACTICES */

.practices {
  background-color: #fafbfb;
}

.practices .container {
  display: flex;
  padding: 60px;
  align-items: center;
  box-sizing: border-box;
}

.practices .container > div {
  flex: 1;
  box-sizing: border-box;
}

.practice-info {
  padding: 0 0 0 80px;
}

@media screen and (max-width: 1000px) {
  .practices .container {
    flex-direction: column;
  }

  .practices .container > div {
    margin: 30px 0;
  }

  .practice-info {
    padding: 0 0 0 0;
  }
}

.practice-info h3 {
  font-family: "DomaineSansText-Regular", Optima, Georgia, serif;
  font-size: 44px;
  margin: 30px 0;
  letter-spacing: -1.7px;
}

.practice-info p {
  max-width: 345px;
  font-size: 16px;
  line-height: 1.5em;
  color: rgba(20, 31, 56, 0.6);
  margin-bottom: 30px;
}

.practice-info p a {
  text-decoration: none;
  color: rgba(20, 31, 56, 0.6);
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(20, 31, 56, 0.6);
}

.practice-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 542px;
}

.practice-card {
  flex: 1;
  box-sizing: border-box;
  flex-basis: 33%;
  min-height: 132px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.practice-card img {
  height: 51px;
}

.practice-card span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 14px;
}

.practice-card:nth-of-type(3n - 2), .practice-card:nth-of-type(3n - 1) {
  border-right: 1px solid #eee;
}

.practice-card:nth-last-of-type(n + 4) {
  border-bottom: 1px solid #eee;
}

/* PROVIDERS */

.providers {
  display: flex;
  align-items: center;
  padding: 100px 30px;
  border-bottom: 1px solid #eee;
}

.providers > div {
  flex: 1 50%;
}

.providers-img img {
  max-width: 100%;
}

.providers-text {
  padding: 80px;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .providers {
    flex-direction: column;
    padding: 30px;
  }
}

.providers-text .intro {
  display: block;
  text-transform: uppercase;
  margin: 20px 0;
  font-weight: 500;
  letter-spacing: 1.4px;
}

.providers-text h3 {
  font-family: "DomaineSansText-Regular", Optima, Georgia, serif;
  font-size: 44px;
  margin: 20px 0;
  letter-spacing: -1.7px;
  line-height: 1.5em;
}

.providers-text p {
  color: rgba(20, 31, 56, 0.6);
  line-height: 1.5em;
  max-width: 440px;
  margin: 20px 0;
}

.providers-text .providers-application {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(255, 115, 71, 1.0);
}

/* WHY */

.why {
  padding: 0 40px;
}

.why-head {
  padding: 80px;
  text-align: center;
  line-height: 1.5em;
  font-weight: 500;
}

.why-head img {
  width: 158px;
  margin-bottom: 15px;
}

.why .twoup {
  display: flex;
}

@media screen and (max-width: 1000px) {
  .why .twoup {
    flex-direction: column;
  }
}

.why .twoup > div {
  flex: 1;
  flex-basis: 50%;
}

.whyimg {
  background-image: url("../img/kensholandingpage-photo.png");
  background-size: cover;
  background-position: center center;
  transform: rotate(180deg);
}

@media screen and (max-width: 1000px) {
  .whyimg {
    min-height: 300px;
  }

  .why-head {
    padding-bottom: 20px;
  }
}

.whytext {
  padding: 50px 80px 50px 90px;
  box-sizing: border-box;
}

.whytext h3 {
  font-family: "DomaineSansText-Regular", Optima, Georgia, serif;
  font-size: 44px;
  margin: 30px 0;
  letter-spacing: -1.7px;
}

.whytext p {
  color: rgba(20, 31, 56, 0.6);
  line-height: 1.5em;
  margin: 20px 0;
  font-size: 14px;
}

/* SIGNUP */

.signup {
  background-image: url("../img/joinusbg.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 670px;
}

.joinus {
  max-width: 448px;
  text-align: center;
}

.joinus h3 {
  font-size: 68px;
  letter-spacing: -3.81px;
  font-family: "DomaineSansText-Regular", Optima, Georgia, serif;
  margin: 30px 0;
}

.joinus p {
  color: rgba(20, 31, 56, 0.6);
  line-height: 1.5em;
  margin: 20px 0;
}

.joinus form {
  display: flex;
  margin: 30px 0;
}

.joinus form input[type=email] {
  flex-grow: 3;
  border: 1px solid rgba(255, 115, 71, 1.0);
  padding: 18px;
  font-family: 'work sans', sans-serif;
  font-size: 18px;
  border-radius: 4px 0 0 4px;
}

.joinus form input[type=submit] {
  background-color:  rgba(255, 115, 71, 1.0);
  flex-grow: 1;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: 'work sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0 4px 4px 0;
}

.joinus .social {
  display: flex;
  width: 160px;
  margin: auto;
  justify-content: space-between;
}

.joinus .social img {
  height: 25px;
}

/* =============== FAQ Page Specific =================== */


/* hero section */

.faqhero {
  min-height: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../img/faqbg.png");
  background-size: cover;
  background-position: center center;
  color: white;
}

.faqhero h1 {
  font-size: 68px;
  letter-spacing: -3.81px;
  font-family: "DomaineSansText-Regular", Optima, Georgia, serif;
  margin: 30px 0;
}

.faqhero p {
  max-width: 400px;
  line-height: 1.5em;
  text-align: center;
}

.faqhero p a {
  color: white;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}

/* FAQ info */

.faqarticle {
  margin-top: 50px;
}

.faqarticle section {
  box-sizing: border-box;
  max-width: 950px;
  margin: 0;
  padding: 20px 20px 20px 140px;
}

.faqarticle h2 {
  font-size: 44px;
  letter-spacing: -1.69px;
  font-family: "DomaineSansText-Regular", Optima, Georgia, serif;
  margin: 30px 0;
}

.question {
  margin: 70px 0;
}

.question h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0;
  line-height: 1.5em;
}

.question p {
  color: rgba(20, 31, 56, 0.6);
  line-height: 1.5em;
  margin: 20px 0;
}

@media screen and (max-width: 1000px) {
  .faqarticle section {
    padding: 20px 20px 20px 40px;
  }

  .question {
    margin: 20px 0;
  }
}

/* ================= TERMS AND CONDITIONS ================ */

.tc {
  max-width: 1000px;
  font-weight: 500;
  line-height: 1.5em;
  padding: 20px;
}

.tc h1 {
  font-family: "DomaineSansText-Regular", Optima, Georgia, serif;
  font-size: 44px;
  margin: 30px 0;
  letter-spacing: -1.7px;
  text-align: center;
  margin: 50px auto;
  line-height: 1.5em;
}


/* =============== GLOBAL STYLES =================== */

.fade {
  animation: fading 1s;
}

@keyframes fading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* header */

header nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

header nav img {
  height: 43px;
  margin: 10px;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a.become-provider {
  font-size: 18px;
  color: rgba(255, 115, 71, 1.0);
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(255, 115, 71, 1.0);
}

@media screen and (max-width: 1000px) {
  header nav, header nav ul {
    flex-direction: column;
    align-items: center;
  }
  header nav ul li {
    margin: 10px 0;
  }
}

/* footer */

footer {
  background-color: rgba(19, 31, 56, 1.0);
  text-align: center;
  padding: 50px;
  color: white;
}

footer nav {
  border-bottom: 2px solid rgba(255,255,255,0.1);
}

footer nav img {
  height: 83px;
  width: 83px;
}

footer nav ul {
  display: flex;
  justify-content: center;
  padding: 50px;
}

footer nav ul li a {
  font-weight: 500;
  color: white;
  text-decoration: none;
  margin: 10px 20px;
  font-size: 18px;
  display: block;
}

footer .jobs p {
  line-height: 1.5em;
  margin: 50px auto 20px;
  color: rgba(255,255,255,0.7);
  font-size: 14px;
  max-width: 334px;
}

footer .jobs a {
  font-weight: 500;
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

footer .copyright {
  margin-top: 30px;
}

footer .copyright p, footer .copyright a {
  color: rgba(255,255,255,0.5);
  text-decoration: none;
  font-size: 12px;
}

@media screen and (max-width: 1000px) {
  footer nav ul {
    flex-direction: column;
  }

  footer nav ul li a {
    margin: 10px 0;
  }
}

/* FIX ALL THE PADDING for tiny phones */

@media screen and (max-width: 486px) {

  .providers-text, .why-head, .whytext, .threeup .col, .threeup {
    padding: 20px 0;
  }

  .practice, form, .howitworks, .joinus, .faqarticle section {
    padding: 20px;
  }

  .practice-card {
    min-height: 80px;
  }

  .practice-card img {
    width: 25px;
    height: 25px;
  }

  .practice-card span {
    font-size: 10px;
    letter-spacing: 0.5px;
  }

  .signup {
    background-image: none;
  }

  .joinus form {
    flex-direction: column;
  }

  .joinus form input[type=email] {
    flex-grow: 1;
    border-radius: 4px 4px 0 0;
  }

  .joinus form input[type=submit] {
    flex-grow: 1;
    border-radius: 0 0 4px 4px;
    padding: 15px;
  }
}
